<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=M+PLUS+2:wght@100..900&display=swap"
			rel="stylesheet">
	<script src="main.js" th:src="@{/main.js}"></script>
	<link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>

<body>
	<h1>やさいしつ</h1>
	<section class="bottom">
		<form method="get" action="#" th:action="@{/bottom}">
			<input type="submit" value="下段へ">
		</form>
		<ul th:each="res : ${dbList3}">
			<li th:text="${res.name}">名前</li>
			<li th:text="${res.syoumikigen}">賞味期限</li>
			<li>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" />
				</form>
			</li>
		</ul>
	</section>

	<div class="input-button">
		<form method="get" action="#" th:action="@{/input}">
			<input type="submit" value="+">
		</form>
	</div>

	<form method="get" action="#" th:action="@{/index}">
		<input type="submit" value="ホームへ">
	</form>

</body>

</html>