<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=M+PLUS+2:wght@100..900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>

<body>
	
	<h1>かんりょうページ</h1>
	
	<p class="complete-p">登録が完了しました！</p>
	<div id="input-button" class="input-first">
		<form method="get" action="#" th:action="@{/input}">
			<input type="submit" value="+">
		</form>
	</div>

	<main>
		<div class="refrigerator-complete">
			<p></p>
			<div class="room-button room-comp-button-1">

				<form method="get" action="#" th:action="@{/top}">
					<input type="submit" value="冷蔵庫">
				</form>

			</div>
			<div class="room-button room-comp-button-2">

				<form method="get" action="#" th:action="@{/middle}">
					<input type="submit" value="冷凍庫">
				</form>

			</div>
			<div class="room-button room-comp-button-3">

				<form method="get" action="#" th:action="@{/bottom}">
					<input type="submit" value="やさい室">
				</form>

			</div>
			<div class="stop-button">
				<form method="get" action="#" th:action="@{/index}">
					<input type="image" src="../img/home-black.jpeg" alt="矢印" class="small-image-button">
				</form>
			</div>
		</div>

	</main>
</body>

</html>