<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=M+PLUS+2:wght@100..900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>

<body>
	<h1>かくにん</h1>
	<div th:object="${form}">
		<div id="input-first">
		<table>
			<tr>
				<th>賞味期限：</th>
				<td th:text="*{syoumkigen}"></td>
			</tr>
			<tr>
				<th>入れる物：</th>
				<td th:text="*{name1}"></td>
			</tr>
			<tr>
				<th>場所：</th>
				<td th:text="*{place}"></td>
			</tr>
		</table>
		</div>
		<form method="get" action="#" th:action="@{/input}">
			<input type="hidden" name="name1" th:value="*{name1}">
			<input type="hidden" name="place" th:value="*{place}">
			<input type="hidden" name="syoumkigen" th:value="*{syoumkigen}">
			<input type="submit" value="入力画面へ">
		</form>
		<form method="get" action="#" th:action="@{/complete}">
		<div id="input-button" class="input-form">
			<input type="hidden" name="name1" th:value="*{name1}">
			<input type="hidden" name="place" th:value="*{place}">
			<input type="hidden" name="syoumkigen" th:value="*{syoumkigen}">
			<input type="submit" value="完了画面へ">
			</div>
		</form>
	</div>
</body>

</html>