<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>アプリ名</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>アプリ名</h1>
	</header>
	<main>
		<section class="top">
			<nav class="top-list">
				<ul>
					<li>卵</li>
					<li>納豆</li>
					<li>チーズ</li>
				</ul>
			</nav>
		</section>
		<section class="middle">
			<nav class="middle-list">
				<ul>
					<li>アイス</li>
					<li>枝豆</li>
					<li>お肉</li>
				</ul>
			</nav>

		</section>
		<section class="bottom">
			<nav class="bottom-list">
				<ul>
					<li>キャベツ</li>
					<li>トマト</li>
					<li>にら</li>
				</ul>
			</nav>

		</section>
		

	</main>
	<footer>
		<a href="#" class="button-link">
		        <button>リンクボタン</button>
		    </a>
	</footer>

</body>

</html>