<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>アプリ名</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>アプリ名</h1>
	</header>
	<main>
		<section class="top">
			
			<form method="get" action="#" th:action="@{/top}">
						<input type="submit" value="上段へ">
					</form>
			<ul>
				<li>卵</li>
				<li>納豆</li>
				<li>チーズ</li>
			</ul>

		</section>
		<section class="middle">

			<form method="get" action="#" th:action="@{/middle}">
									<input type="submit" value="中段へ">
								</form>
			<ul>
				<li>アイス</li>
				<li>枝豆</li>
				<li>お肉</li>
			</ul>

		</section>
		<section class="bottom">
			<form method="get" action="#" th:action="@{/bottom}">
									<input type="submit" value="下段へ">
								</form>
			<ul>
				<li>キャベツ</li>
				<li>トマト</li>
				<li>にら</li>
			</ul>


		</section>


	</main>
	<footer>
		<form method="get" action="#" th:action="@{/input}">
			<input type="submit" value="入力画面へ">
		</form>
	</footer>

</body>

</html>